# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.out
*.app
*.i*86
*.x86_64
*.hex

.idea/
*.iml
*.tif
*.pyc
cache/
static_all/

.anaconda
.coverage
.hypothesis/
.jenkins
.pytest/
.vagrant/
.vscode/
*.log
*.log.*
*.map
/.tox
/venv
build/
celerybeat-schedule
celerybeat.pid
coverage.xml
deploy/.env
dist/
htmlcov/
jira.json
launch.json
local_settings.py
local.env
settings_local.py
settings.json
test.db*
tmp/
