# Packages needed to test and run the app.
argparse
arrow
configparser
coverage
dj-database-url
Django>=1.11,<=1.12
django-csp
django-jinja
django-session-csrf
flake8
flake8-blind-except
flake8-bugbear
flake8-builtins
flake8-comprehensions
flake8-debugger
flake8-docstrings
flake8-import-order
flake8-quotes
gunicorn
hashin
hypothesis
Jinja2
MarkupSafe
mccabe
pep8
pep8-naming
psycopg2
pycodestyle
pyflakes
python-decouple
pytest-cov
pytest-django
pytest-faulthandler
pytest-runfailed
pytest-xdist
pytest
pytz
requests
urlwait
whitenoise
